In [1]:
import numpy as np
import pandas as pd
import pandas_datareader.data as web

In [2]:
def get_requirements():
    print("Data Manipulation\n")
print("\nProgram Requirements:\n"
        + "1. Data Cleaing and Manipulation.\n"
        + "2. Import necessary libraries.\n"
        + "3. Research how to install any missing packages, if necessary.\n"
        + "4. Create at least three functions that are called by the program:\n"
        + "\ta. main(): calls at least two other functions.\n"
        + "\tb. get_requirements(): displays the program requirements.\n"
        + "\tc. data_manipulation(): displays the following data.\n"
        + "5. Use imdb-movie-data.csv dataset.\n"
        + "6. When running program:\n"
        + "\ta. Document any issues.\n"
        + "\tb. Document solutions attempted.\n")

Program Requirements:
1. Data Cleaing and Manipulation.
2. Import necessary libraries.
3. Research how to install any missing packages, if necessary.
4. Create at least three functions that are called by the program:
	a. main(): calls at least two other functions.
	b. get_requirements(): displays the program requirements.
	c. data_manipulation(): displays the following data.
5. Use imdb-movie-data.csv dataset.
6. When running program:
	a. Document any issues.
	b. Document solutions attempted.

In [3]:
def data_manipulation():
    df=pd.read_csv('imdb-movie-data.csv')
    print("1. Print index:")
    print(df.index) 

    print("2. Print columns: (Due to confidentiality, only attributes/features 'Time', 'Amount', and 'Class' available.)\n ")
    print(df.columns)

    print("3. Print data frame:\n ")
    print(df)

    print("\n4. Print type:")
    print(type(df))

    print("\n5. Print attribute data types--object type represents strings (e.g., M and F in sex):")
    print(df.dtypes)

    print("\n6. Print values (truncated list), in array format.")
    print(df.values)

    print("\n7. Print first 5 records, in non-array format:")
    print(df.columns)

    print("\n8. Print index of all dataframe column names:")
    print(list(df))

    print("\n9. Print dataframe info (i.e., summary, similar to 'describe tablename; in MySQL")
    print(df.describe)

    print("\n10. Print *only* number of dataframe rows:")
    print(df.shape[1])

    print("\n11. Print *only* number of dataframe columns:")
    print(df.shape)

    print("\n12. Print number of dataframe rows and columns:")
    print(df.shape)

    print("\n13. Print number of dataframe elements (i.e., rows * columns")
    print(df.shape[0] * df.shape[1])

    print("\n14. Series: one dimensional labeled array, can hold disparate data types (e.g., integer, strign, float, Boolean, Python objects, etc.):")
    ser = pd.Series([1, 'Hello World', 3.5, True, 6, {"banana", "cherry", "apple"}])

    print("\n15. DataFrame: multi-dimensiomnal table, essentially, two Series.\n Note: Various ways to create DataFrame.\n Here, create dictionary (key:value pairs), ordered (since 3.7), mutable, annd does not allow duplicate.")
    dic = {'vegetables': [3,2,0,1,5,4,7,6],'fruits':[0,3,7,2,1,6,4,5]}
    df1 = pd.DataFrame(dic)
    print(df1)
    print('Thenn, add customer names as indexes:')
    index = ['Bob', 'Jane', 'Joe', 'Peter', 'Viola', 'Thomas', 'Raquel', 'Nicole']
    df1= pd.DataFrame(dic, index=index)
    print(df1)

    print("\n16. Locate customer's order by name:")
    print(df1.loc['Jane',:])

    print("\n17. Convert DataFrame to following file types: .csv and .json (save to same directory):")
    df1.to_csv('produce_list.csv')
    df1.to_json('produce_list.json')

    print("\n18. Create DataFrame for imdb-movie-data.csv, designate movie ***titles*** as index, and print first five records:")
    df = pd.read_csv('imdb-movie-data.csv')
    df = df.set_index('Title')
    print(df.head())

    print("\n19. Display last three records:")
    print(df.tail(3))

    print("\n20. Handling duplicates using append(). (Note: twice as many rows.)")
    df = df.append(df)
    print(df.shape)

    print("\n21. Cleanign duplicates using drop_duplicates():")
    df = df.drop_duplicates()
    print(df.shape)

    print("\n22. Cleaning columns using rename(), and list comprehension.")
    print(df.columns)

    print("\n\t22a. Remove parentheses using rename():")
    df = df.rename(columns = {'Revenue (Millions)': " revenue_millions"})
    print(df.columns)

    print("\n\t22b. Make column names lower case, manually using list assignment")
    columns = ['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime', 'rating', 'votes', 'revenue_millions', 'metascore']
    df.columns = columns
    print(df.columns)

    print("\n\t22c. Make column names lower case using list comprehension and lower():")
    df.columns = [i.lower() for i in df.columns]
    print(df.columns)

    print("\n23. Working with missing (null) values: 1) remove, or 2) replace (imputation).")

    print("\tStep 1: Identify null cells:")
    print(df.isna())

    print("\tStep 2: Count number of nulls in each column:")
    print(df.isna().sum())

    print("\t23a. NB: Remove nulls, *only* with small amount of missing data (<5%): \n Note: dropna() removes rows w/at least one null value, \n and returns new DataFrame, w/o affecting original. \n axis=0 (rows default), axis = 1 columns \n Where does \'axis\' come from? Remember: df.shape returns rows(0)/cols(1).")
    print(df.dropna(axis=0))

    print("\t23b. Remove nulls (columns):")
    print(df.dropna(axis=1))

    print("\t23c. Imputation: Replace missing values with guessed/estimated value. \n Use data and relationships among non-missing predictors to estimate missing values.\n One (simple) way: Apply central tendency values (i.e., mean, median, mode).")
    
    print("\tStep 1: Extract column with null values into variable, and print 1st 5 records: \n Note: \"Title\" index remains.")
    print(df["revenue_millions"].head())

    print("\tStep 2: Return mean value:")
    print(df["revenue_millions"].mean())

    print("\tStep 3: Impute mean value using fillna() and inplace=True, then print nulls. \nRemember: inplace=True affects original DataFrame.")
    df["revenue_millions"].fillna(df["revenue_millions"].mean(), inplace=True)
    print(df.isna().sum())

    print("\n24. Basic statistical analyses using describe(), summary of *continuous* variables. Understanding data values(e.g., continuous vs. categorial) assists when determining plot types.")
    print(df.describe())

    print("\n25. Basic statistical analyses using describe(), summary of *categorical* variable (here, only *one* attribute). Returns row count, unique count of categories, top category, and frequency of top category.")
    print(df['genre'].describe())
    print("\tStep 2: Return mean value:")
    print(df["revenue_millions"].mean())

In [4]:
def main():
        get_requirements()
        data_manipulation()

In [5]:
main()

Data Manipulation

1. Print index:
RangeIndex(start=0, stop=1000, step=1)
2. Print columns: (Due to confidentiality, only attributes/features 'Time', 'Amount', and 'Class' available.)

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')
3. Print data frame:

     Rank                    Title                     Genre  \
0       1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1       2               Prometheus  Adventure,Mystery,Sci-Fi
2       3                    Split           Horror,Thriller
3       4                     Sing   Animation,Comedy,Family
4       5            Suicide Squad  Action,Adventure,Fantasy
..    ...                      ...                       ...
995   996     Secret in Their Eyes       Crime,Drama,Mystery
996   997          Hostel: Part II                    Horror
997   998   Step Up 2: The Streets       Drama,Music,Romance
998   999             Search Party          Adventure,Comedy
999  1000               Nine Lives     Comedy,Family,Fantasy

                                           Description              Director  \
0    A group of intergalactic criminals are forced ...            James Gunn
1    Following clues to the origin of mankind, a te...          Ridley Scott
2    Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3    In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4    A secret government agency recruits some of th...            David Ayer
..                                                 ...                   ...
995  A tight-knit team of rising investigators, alo...             Billy Ray
996  Three American college students studying abroa...              Eli Roth
997  Romantic sparks occur between two dance studen...            Jon M. Chu
998  A pair of friends embark on a mission to reuni...        Scot Armstrong
999  A stuffy businessman finds himself trapped ins...      Barry Sonnenfeld

                                                Actors  Year  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
1    Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
2    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
3    Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
4    Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
..                                                 ...   ...
995  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
996  Lauren German, Heather Matarazzo, Bijou Philli...  2007
997  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
999  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
0                  121     8.1  757074              333.13       76.0
1                  124     7.0  485820              126.46       65.0
2                  117     7.3  157606              138.12       62.0
3                  108     7.2   60545              270.32       59.0
4                  123     6.2  393727              325.02       40.0
..                 ...     ...     ...                 ...        ...
995                111     6.2   27585                 NaN       45.0
996                 94     5.5   73152               17.54       46.0
997                 98     6.2   70699               58.01       50.0
998                 93     5.6    4881                 NaN       22.0
999                 87     5.3   12435               19.64       11.0

[1000 rows x 12 columns]

4. Print type:
<class 'pandas.core.frame.DataFrame'>

5. Print attribute data types--object type represents strings (e.g., M and F in sex):
Rank                    int64
Title                  object
Genre                  object
Description            object
Director               object
Actors                 object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
dtype: object

6. Print values (truncated list), in array format.
[[1 'Guardians of the Galaxy' 'Action,Adventure,Sci-Fi' ... 757074 333.13
  76.0]
 [2 'Prometheus' 'Adventure,Mystery,Sci-Fi' ... 485820 126.46 65.0]
 [3 'Split' 'Horror,Thriller' ... 157606 138.12 62.0]
 ...
 [998 'Step Up 2: The Streets' 'Drama,Music,Romance' ... 70699 58.01 50.0]
 [999 'Search Party' 'Adventure,Comedy' ... 4881 nan 22.0]
 [1000 'Nine Lives' 'Comedy,Family,Fantasy' ... 12435 19.64 11.0]]

7. Print first 5 records, in non-array format:
Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

8. Print index of all dataframe column names:
['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)', 'Metascore']

9. Print dataframe info (i.e., summary, similar to 'describe tablename; in MySQL
<bound method NDFrame.describe of      Rank                    Title                     Genre  \
0       1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1       2               Prometheus  Adventure,Mystery,Sci-Fi
2       3                    Split           Horror,Thriller
3       4                     Sing   Animation,Comedy,Family
4       5            Suicide Squad  Action,Adventure,Fantasy
..    ...                      ...                       ...
995   996     Secret in Their Eyes       Crime,Drama,Mystery
996   997          Hostel: Part II                    Horror
997   998   Step Up 2: The Streets       Drama,Music,Romance
998   999             Search Party          Adventure,Comedy
999  1000               Nine Lives     Comedy,Family,Fantasy

                                           Description              Director  \
0    A group of intergalactic criminals are forced ...            James Gunn
1    Following clues to the origin of mankind, a te...          Ridley Scott
2    Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3    In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4    A secret government agency recruits some of th...            David Ayer
..                                                 ...                   ...
995  A tight-knit team of rising investigators, alo...             Billy Ray
996  Three American college students studying abroa...              Eli Roth
997  Romantic sparks occur between two dance studen...            Jon M. Chu
998  A pair of friends embark on a mission to reuni...        Scot Armstrong
999  A stuffy businessman finds himself trapped ins...      Barry Sonnenfeld

                                                Actors  Year  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
1    Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
2    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
3    Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
4    Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
..                                                 ...   ...
995  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
996  Lauren German, Heather Matarazzo, Bijou Philli...  2007
997  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
999  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
0                  121     8.1  757074              333.13       76.0
1                  124     7.0  485820              126.46       65.0
2                  117     7.3  157606              138.12       62.0
3                  108     7.2   60545              270.32       59.0
4                  123     6.2  393727              325.02       40.0
..                 ...     ...     ...                 ...        ...
995                111     6.2   27585                 NaN       45.0
996                 94     5.5   73152               17.54       46.0
997                 98     6.2   70699               58.01       50.0
998                 93     5.6    4881                 NaN       22.0
999                 87     5.3   12435               19.64       11.0

[1000 rows x 12 columns]>

10. Print *only* number of dataframe rows:
12

11. Print *only* number of dataframe columns:
(1000, 12)

12. Print number of dataframe rows and columns:
(1000, 12)

13. Print number of dataframe elements (i.e., rows * columns
12000

14. Series: one dimensional labeled array, can hold disparate data types (e.g., integer, strign, float, Boolean, Python objects, etc.):

15. DataFrame: multi-dimensiomnal table, essentially, two Series.
 Note: Various ways to create DataFrame.
 Here, create dictionary (key:value pairs), ordered (since 3.7), mutable, annd does not allow duplicate.
   vegetables  fruits
0           3       0
1           2       3
2           0       7
3           1       2
4           5       1
5           4       6
6           7       4
7           6       5
Thenn, add customer names as indexes:
        vegetables  fruits
Bob              3       0
Jane             2       3
Joe              0       7
Peter            1       2
Viola            5       1
Thomas           4       6
Raquel           7       4
Nicole           6       5

16. Locate customer's order by name:
vegetables    2
fruits        3
Name: Jane, dtype: int64

17. Convert DataFrame to following file types: .csv and .json (save to same directory):

18. Create DataFrame for imdb-movie-data.csv, designate movie ***titles*** as index, and print first five records:
                         Rank                     Genre  \
Title
Guardians of the Galaxy     1   Action,Adventure,Sci-Fi
Prometheus                  2  Adventure,Mystery,Sci-Fi
Split                       3           Horror,Thriller
Sing                        4   Animation,Comedy,Family
Suicide Squad               5  Action,Adventure,Fantasy

                                                               Description  \
Title
Guardians of the Galaxy  A group of intergalactic criminals are forced ...
Prometheus               Following clues to the origin of mankind, a te...
Split                    Three girls are kidnapped by a man with a diag...
Sing                     In a city of humanoid animals, a hustling thea...
Suicide Squad            A secret government agency recruits some of th...

                                     Director  \
Title
Guardians of the Galaxy            James Gunn
Prometheus                       Ridley Scott
Split                      M. Night Shyamalan
Sing                     Christophe Lourdelet
Suicide Squad                      David Ayer

                                                                    Actors  \
Title
Guardians of the Galaxy  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Prometheus               Noomi Rapace, Logan Marshall-Green, Michael Fa...
Split                    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...
Sing                     Matthew McConaughey,Reese Witherspoon, Seth Ma...
Suicide Squad            Will Smith, Jared Leto, Margot Robbie, Viola D...

                         Year  Runtime (Minutes)  Rating   Votes  \
Title
Guardians of the Galaxy  2014                121     8.1  757074
Prometheus               2012                124     7.0  485820
Split                    2016                117     7.3  157606
Sing                     2016                108     7.2   60545
Suicide Squad            2016                123     6.2  393727

                         Revenue (Millions)  Metascore
Title
Guardians of the Galaxy              333.13       76.0
Prometheus                           126.46       65.0
Split                                138.12       62.0
Sing                                 270.32       59.0
Suicide Squad                        325.02       40.0

19. Display last three records:
                        Rank                  Genre  \
Title
Step Up 2: The Streets   998    Drama,Music,Romance
Search Party             999       Adventure,Comedy
Nine Lives              1000  Comedy,Family,Fantasy

                                                              Description  \
Title
Step Up 2: The Streets  Romantic sparks occur between two dance studen...
Search Party            A pair of friends embark on a mission to reuni...
Nine Lives              A stuffy businessman finds himself trapped ins...

                                Director  \
Title
Step Up 2: The Streets        Jon M. Chu
Search Party              Scot Armstrong
Nine Lives              Barry Sonnenfeld

                                                                   Actors  \
Title
Step Up 2: The Streets  Robert Hoffman, Briana Evigan, Cassie Ventura,...
Search Party            Adam Pally, T.J. Miller, Thomas Middleditch,Sh...
Nine Lives              Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...

                        Year  Runtime (Minutes)  Rating  Votes  \
Title
Step Up 2: The Streets  2008                 98     6.2  70699
Search Party            2014                 93     5.6   4881
Nine Lives              2016                 87     5.3  12435

                        Revenue (Millions)  Metascore
Title
Step Up 2: The Streets               58.01       50.0
Search Party                           NaN       22.0
Nine Lives                           19.64       11.0

20. Handling duplicates using append(). (Note: twice as many rows.)
(2000, 11)

21. Cleanign duplicates using drop_duplicates():
(1000, 11)

22. Cleaning columns using rename(), and list comprehension.
Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

	22a. Remove parentheses using rename():
Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', ' revenue_millions',
       'Metascore'],
      dtype='object')

	22b. Make column names lower case, manually using list assignment
Index(['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime',
       'rating', 'votes', 'revenue_millions', 'metascore'],
      dtype='object')

	22c. Make column names lower case using list comprehension and lower():
Index(['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime',
       'rating', 'votes', 'revenue_millions', 'metascore'],
      dtype='object')

23. Working with missing (null) values: 1) remove, or 2) replace (imputation).
	Step 1: Identify null cells:
                          rank  genre  description  director  actors   year  \
Title
Guardians of the Galaxy  False  False        False     False   False  False
Prometheus               False  False        False     False   False  False
Split                    False  False        False     False   False  False
Sing                     False  False        False     False   False  False
Suicide Squad            False  False        False     False   False  False
...                        ...    ...          ...       ...     ...    ...
Secret in Their Eyes     False  False        False     False   False  False
Hostel: Part II          False  False        False     False   False  False
Step Up 2: The Streets   False  False        False     False   False  False
Search Party             False  False        False     False   False  False
Nine Lives               False  False        False     False   False  False

                         runtime  rating  votes  revenue_millions  metascore
Title
Guardians of the Galaxy    False   False  False             False      False
Prometheus                 False   False  False             False      False
Split                      False   False  False             False      False
Sing                       False   False  False             False      False
Suicide Squad              False   False  False             False      False
...                          ...     ...    ...               ...        ...
Secret in Their Eyes       False   False  False              True      False
Hostel: Part II            False   False  False             False      False
Step Up 2: The Streets     False   False  False             False      False
Search Party               False   False  False              True      False
Nine Lives                 False   False  False             False      False

[1000 rows x 11 columns]
	Step 2: Count number of nulls in each column:
rank                  0
genre                 0
description           0
director              0
actors                0
year                  0
runtime               0
rating                0
votes                 0
revenue_millions    128
metascore            64
dtype: int64
	23a. NB: Remove nulls, *only* with small amount of missing data (<5%):
 Note: dropna() removes rows w/at least one null value,
 and returns new DataFrame, w/o affecting original.
 axis=0 (rows default), axis = 1 columns
 Where does 'axis' come from? Remember: df.shape returns rows(0)/cols(1).
                          rank                     genre  \
Title
Guardians of the Galaxy      1   Action,Adventure,Sci-Fi
Prometheus                   2  Adventure,Mystery,Sci-Fi
Split                        3           Horror,Thriller
Sing                         4   Animation,Comedy,Family
Suicide Squad                5  Action,Adventure,Fantasy
...                        ...                       ...
Resident Evil: Afterlife   994   Action,Adventure,Horror
Project X                  995                    Comedy
Hostel: Part II            997                    Horror
Step Up 2: The Streets     998       Drama,Music,Romance
Nine Lives                1000     Comedy,Family,Fantasy

                                                                description  \
Title
Guardians of the Galaxy   A group of intergalactic criminals are forced ...
Prometheus                Following clues to the origin of mankind, a te...
Split                     Three girls are kidnapped by a man with a diag...
Sing                      In a city of humanoid animals, a hustling thea...
Suicide Squad             A secret government agency recruits some of th...
...                                                                     ...
Resident Evil: Afterlife  While still out to destroy the evil Umbrella C...
Project X                 3 high school seniors throw a birthday party t...
Hostel: Part II           Three American college students studying abroa...
Step Up 2: The Streets    Romantic sparks occur between two dance studen...
Nine Lives                A stuffy businessman finds himself trapped ins...

                                      director  \
Title
Guardians of the Galaxy             James Gunn
Prometheus                        Ridley Scott
Split                       M. Night Shyamalan
Sing                      Christophe Lourdelet
Suicide Squad                       David Ayer
...                                        ...
Resident Evil: Afterlife    Paul W.S. Anderson
Project X                      Nima Nourizadeh
Hostel: Part II                       Eli Roth
Step Up 2: The Streets              Jon M. Chu
Nine Lives                    Barry Sonnenfeld

                                                                     actors  \
Title
Guardians of the Galaxy   Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Prometheus                Noomi Rapace, Logan Marshall-Green, Michael Fa...
Split                     James McAvoy, Anya Taylor-Joy, Haley Lu Richar...
Sing                      Matthew McConaughey,Reese Witherspoon, Seth Ma...
Suicide Squad             Will Smith, Jared Leto, Margot Robbie, Viola D...

                         rank                     genre  \
Title
Guardians of the Galaxy     1   Action,Adventure,Sci-Fi
Prometheus                  2  Adventure,Mystery,Sci-Fi
Split                       3           Horror,Thriller
Sing                        4   Animation,Comedy,Family
Suicide Squad               5  Action,Adventure,Fantasy
...                       ...                       ...
Secret in Their Eyes      996       Crime,Drama,Mystery
Hostel: Part II           997                    Horror
Step Up 2: The Streets    998       Drama,Music,Romance
Search Party              999          Adventure,Comedy
Nine Lives               1000     Comedy,Family,Fantasy

                                                               description  \
Title
Guardians of the Galaxy  A group of intergalactic criminals are forced ...
Prometheus               Following clues to the origin of mankind, a te...
Split                    Three girls are kidnapped by a man with a diag...
Sing                     In a city of humanoid animals, a hustling thea...
Suicide Squad            A secret government agency recruits some of th...
...                                                                    ...
Secret in Their Eyes     A tight-knit team of rising investigators, alo...
Hostel: Part II          Three American college students studying abroa...
Step Up 2: The Streets   Romantic sparks occur between two dance studen...
Search Party             A pair of friends embark on a mission to reuni...
Nine Lives               A stuffy businessman finds himself trapped ins...

                                     director  \
Title
Guardians of the Galaxy            James Gunn
Prometheus                       Ridley Scott
Split                      M. Night Shyamalan
Sing                     Christophe Lourdelet
Suicide Squad                      David Ayer
...                                       ...
Secret in Their Eyes                Billy Ray
Hostel: Part II                      Eli Roth
Step Up 2: The Streets             Jon M. Chu
Search Party                   Scot Armstrong
Nine Lives                   Barry Sonnenfeld

                                                                    actors  \
Title
Guardians of the Galaxy  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Prometheus               Noomi Rapace, Logan Marshall-Green, Michael Fa...
Split                    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...
Sing                     Matthew McConaughey,Reese Witherspoon, Seth Ma...
Suicide Squad            Will Smith, Jared Leto, Margot Robbie, Viola D...
...                                                                    ...
Secret in Their Eyes     Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...
Hostel: Part II          Lauren German, Heather Matarazzo, Bijou Philli...
Step Up 2: The Streets   Robert Hoffman, Briana Evigan, Cassie Ventura,...
Search Party             Adam Pally, T.J. Miller, Thomas Middleditch,Sh...
Nine Lives               Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...

                         year  runtime  rating   votes
Title
Guardians of the Galaxy  2014      121     8.1  757074
Prometheus               2012      124     7.0  485820
Split                    2016      117     7.3  157606
Sing                     2016      108     7.2   60545
Suicide Squad            2016      123     6.2  393727
...                       ...      ...     ...     ...
Secret in Their Eyes     2015      111     6.2   27585
Hostel: Part II          2007       94     5.5   73152
Step Up 2: The Streets   2008       98     6.2   70699
Search Party             2014       93     5.6    4881
Nine Lives               2016       87     5.3   12435

[1000 rows x 9 columns]
	23c. Imputation: Replace missing values with guessed/estimated value.
 Use data and relationships among non-missing predictors to estimate missing values.
 One (simple) way: Apply central tendency values (i.e., mean, median, mode).
	Step 1: Extract column with null values into variable, and print 1st 5 records:
 Note: "Title" index remains.
Title
Guardians of the Galaxy    333.13
Prometheus                 126.46
Split                      138.12
Sing                       270.32
Suicide Squad              325.02
Name: revenue_millions, dtype: float64
	Step 2: Return mean value:
82.95637614678898
	Step 3: Impute mean value using fillna() and inplace=True, then print nulls.
Remember: inplace=True affects original DataFrame.
rank                 0
genre                0
description          0
director             0
actors               0
year                 0
runtime              0
rating               0
votes                0
revenue_millions     0
metascore           64
dtype: int64

24. Basic statistical analyses using describe(), summary of *continuous* variables. Understanding data values(e.g., continuous vs. categorial) assists when determining plot types.
              rank         year      runtime       rating         votes  \
count  1000.000000  1000.000000  1000.000000  1000.000000  1.000000e+03
mean    500.500000  2012.783000   113.172000     6.723200  1.698083e+05
std     288.819436     3.205962    18.810908     0.945429  1.887626e+05
min       1.000000  2006.000000    66.000000     1.900000  6.100000e+01
25%     250.750000  2010.000000   100.000000     6.200000  3.630900e+04
50%     500.500000  2014.000000   111.000000     6.800000  1.107990e+05
75%     750.250000  2016.000000   123.000000     7.400000  2.399098e+05
max    1000.000000  2016.000000   191.000000     9.000000  1.791916e+06

       revenue_millions   metascore
count       1000.000000  936.000000
mean          82.956376   58.985043
std           96.412043   17.194757
min            0.000000   11.000000
25%           17.442500   47.000000
50%           60.375000   59.500000
75%           99.177500   72.000000
max          936.630000  100.000000

25. Basic statistical analyses using describe(), summary of *categorical* variable (here, only *one* attribute). Returns row count, unique count of categories, top category, and frequency of top category.
count                        1000
unique                        207
top       Action,Adventure,Sci-Fi
freq                           50
Name: genre, dtype: object
	Step 2: Return mean value:
82.95637614678898
	Step 3: Impute mean value using fillna() and inplace=True, then print nulls.
Remember: inplace=True affects original DataFrame.
rank                 0
genre                0
description          0
director             0
actors               0
year                 0
runtime              0
rating               0
votes                0
revenue_millions     0
metascore           64
dtype: int64

24. Basic statistical analyses using describe(), summary of *continuous* variables. Understanding data values(e.g., continuous vs. categorial) assists when determining plot types.
              rank         year      runtime       rating         votes  \
count  1000.000000  1000.000000  1000.000000  1000.000000  1.000000e+03
mean    500.500000  2012.783000   113.172000     6.723200  1.698083e+05
std     288.819436     3.205962    18.810908     0.945429  1.887626e+05
min       1.000000  2006.000000    66.000000     1.900000  6.100000e+01
25%     250.750000  2010.000000   100.000000     6.200000  3.630900e+04
50%     500.500000  2014.000000   111.000000     6.800000  1.107990e+05
75%     750.250000  2016.000000   123.000000     7.400000  2.399098e+05
max    1000.000000  2016.000000   191.000000     9.000000  1.791916e+06

       revenue_millions   metascore
count       1000.000000  936.000000
mean          82.956376   58.985043
std           96.412043   17.194757
min            0.000000   11.000000
25%           17.442500   47.000000
50%           60.375000   59.500000
75%           99.177500   72.000000
max          936.630000  100.000000

25. Basic statistical analyses using describe(), summary of *categorical* variable (here, only *one* attribute). Returns row count, unique count of categories, top category, and frequency of top category.
count                        1000
unique                        207
top       Action,Adventure,Sci-Fi
freq                           50
Name: genre, dtype: object