In [1]:
import pandas as pd

In [2]:
def get_requirements():
    print("Deep Manipulation\n")
    print("Program Requirements:")
    print("1. Build deep-learning model to detect diabetes possibility.")
    print("2. Import libraries")
    print("3. Reasearch how to install any missing packages.")
    print("4. Create at least three functions that are called by the program:")
    print("\ta. main(): calls at least two other functions.")
    print("\tb. get_requirements(): displays the program requirements.")
    print("\tc. deep_learning(): displays the following data.")
    print("5. Use imdb dataset")
    print('6. When running program')
    print("\ta. Document any issues.")
    print("\tb. Document solutions attempted.")

In [3]:
def main():
    df = pd.read_csv('imdb.csv')
    print("\n1: Print indexes")
    print(df.index)
    print("\n2: Print columns")
    print(df.columns)
    print("\n3: Print data frame")
    print(df.head(5))
    print(df.tail(5))
    print("\n4: Print type")
    print(type(df))
    print("\n5: Print data attribute type")
    print(df.dtypes)
    print("\n6: Print values in array format")
    print(df.values)
    print("\n7: Print index of all column names")
    print(df.columns)
    print("\n8: Print data frame info")
    print("\nPrint summary stats")
    print(df.info(verbose=True))
    print("\n9: Number of rows")
    print(df.shape[0])
    print("\n10: Number of columns")
    print(df.shape[1])
    print("\n11: Number of rows and columns")
    print(df.shape)
    print("\n13: Number of elements")
    print(df.size)
    print("\n14. Series one dimensional labled array")
    data = [1, 'Hello World', 3.5, 'True', 6, {'banna', 'cherry', 'apple'}]
    print(pd.Series(data))
    print("\n15. Dataframe multi-dimensional table, 2 series")
    data = {'vegetables':[3,2,0,1,5,4,7,6],'fruit':[0,3,7,2,1,6,4,5]}
    df_data = pd.DataFrame(data)
    print(df_data)
    print("Then add customer name as index")
    data = {'vegetables':[3,2,0,1,5,4,7,6],'fruit':[0,3,7,2,1,6,4,5]}
    df_data = pd.DataFrame(data,['Bob', 'Jane', 'Joe', 'Peter', 'Viola', 'Thomas', 'Rauel', 'Nicole'])
    print(df_data)
    print("\n16. Locate customer order by name")
    print(df_data.loc['Jane',:])
    print("\n17. Convert dataframe to .csv and .json")
    print("\n18. Create dataframe for for imdb csv, designate movie titles as index print 5 records")
    df_csv = pd.read_csv('imdb.csv')
    df_new = df_csv.set_index('Title')
    print(df_new.head())
    print("\n19. Print last 3 records")
    print(df_new.tail(3))
    print("\n20. Handling duplicates using append()")
    df_append = df.append(df)
    print(df_append.shape)
    print("\n21. Cleaning duplicates using drop_duplicates")
    df_duplicates = df.drop_duplicates()
    print(df_duplicates.shape)
    print("\n22. Cleaning column using rename()")
    print(df.columns)
    print("\n22a. Remove parens using rename()")
    df_rename = df.rename(columns = {'Runtime (Minutes)':" Runtime", 'Revenue (Millions)':" Revenue_millions"})
    print(df_rename.columns)
    print("\n23. Working with missing values 1. remove, 2. replace")
    print("\n23. Identify nulls")
    print(df.isna())
    print("\n23. Count number of nulls")
    print(df.isna().sum())
    print("\n23. NB remove nulls with small amount of missing data")
    print(df.dropna(axis=0))
    print("\n23B. remove null columns")
    print(df.dropna(axis=1))
    print("\n23C. Imputation replacing missing values with guessed values")
    print("\n24. Basic statistical analysis using describe() summary of continous variables")
    print(df.describe())
    print("\n25. Basic statistical analysis using describe() summary of categorical variables")

In [4]:
get_requirements()
main()

Deep Manipulation

Program Requirements:
1. Build deep-learning model to detect diabetes possibility.
2. Import libraries
3. Reasearch how to install any missing packages.
4. Create at least three functions that are called by the program:
	a. main(): calls at least two other functions.
	b. get_requirements(): displays the program requirements.
	c. deep_learning(): displays the following data.
5. Use imdb dataset
6. When running program
	a. Document any issues.
	b. Document solutions attempted.

1: Print indexes
RangeIndex(start=0, stop=1000, step=1)

2: Print columns
Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

3: Print data frame
   Rank                    Title                     Genre  \
0     1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1     2               Prometheus  Adventure,Mystery,Sci-Fi
2     3                    Split           Horror,Thriller
3     4                     Sing   Animation,Comedy,Family
4     5            Suicide Squad  Action,Adventure,Fantasy

                                         Description              Director  \
0  A group of intergalactic criminals are forced ...            James Gunn
1  Following clues to the origin of mankind, a te...          Ridley Scott
2  Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3  In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4  A secret government agency recruits some of th...            David Ayer

                                              Actors  Year  Runtime (Minutes)  \
0  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014                121
1  Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012                124
2  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016                117
3  Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016                108
4  Will Smith, Jared Leto, Margot Robbie, Viola D...  2016                123

   Rating   Votes  Revenue (Millions)  Metascore
0     8.1  757074              333.13       76.0
1     7.0  485820              126.46       65.0
2     7.3  157606              138.12       62.0
3     7.2   60545              270.32       59.0
4     6.2  393727              325.02       40.0
     Rank                   Title                  Genre  \
995   996    Secret in Their Eyes    Crime,Drama,Mystery
996   997         Hostel: Part II                 Horror
997   998  Step Up 2: The Streets    Drama,Music,Romance
998   999            Search Party       Adventure,Comedy
999  1000              Nine Lives  Comedy,Family,Fantasy

                                           Description          Director  \
995  A tight-knit team of rising investigators, alo...         Billy Ray
996  Three American college students studying abroa...          Eli Roth
997  Romantic sparks occur between two dance studen...        Jon M. Chu
998  A pair of friends embark on a mission to reuni...    Scot Armstrong
999  A stuffy businessman finds himself trapped ins...  Barry Sonnenfeld

                                                Actors  Year  \
995  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
996  Lauren German, Heather Matarazzo, Bijou Philli...  2007
997  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
999  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

     Runtime (Minutes)  Rating  Votes  Revenue (Millions)  Metascore
995                111     6.2  27585                 NaN       45.0
996                 94     5.5  73152               17.54       46.0
997                 98     6.2  70699               58.01       50.0
998                 93     5.6   4881                 NaN       22.0
999                 87     5.3  12435               19.64       11.0

4: Print type
<class 'pandas.core.frame.DataFrame'>

5: Print data attribute type
Rank                    int64
Title                  object
Genre                  object
Description            object
Director               object
Actors                 object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
dtype: object

6: Print values in array format
[[1 'Guardians of the Galaxy' 'Action,Adventure,Sci-Fi' ... 757074 333.13
  76.0]
 [2 'Prometheus' 'Adventure,Mystery,Sci-Fi' ... 485820 126.46 65.0]
 [3 'Split' 'Horror,Thriller' ... 157606 138.12 62.0]
 ...
 [998 'Step Up 2: The Streets' 'Drama,Music,Romance' ... 70699 58.01 50.0]
 [999 'Search Party' 'Adventure,Comedy' ... 4881 nan 22.0]
 [1000 'Nine Lives' 'Comedy,Family,Fantasy' ... 12435 19.64 11.0]]

7: Print index of all column names
Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

8: Print data frame info

Print summary stats
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB
None

9: Number of rows
1000

10: Number of columns
12

11: Number of rows and columns
(1000, 12)

13: Number of elements
12000

14. Series one dimensional labled array
0                         1
1               Hello World
2                       3.5
3                      True
4                         6
5    {banna, cherry, apple}
dtype: object

15. Dataframe multi-dimensional table, 2 series
   vegetables  fruit
0           3      0
1           2      3
2           0      7
3           1      2
4           5      1
5           4      6
6           7      4
7           6      5
Then add customer name as index
        vegetables  fruit
Bob              3      0
Jane             2      3
Joe              0      7
Peter            1      2
Viola            5      1
Thomas           4      6
Rauel            7      4
Nicole           6      5

16. Locate customer order by name
vegetables    2
fruit         3
Name: Jane, dtype: int64

17. Convert dataframe to .csv and .json

18. Create dataframe for for imdb csv, designate movie titles as index print 5 records
                         Rank                     Genre  \
Title
Guardians of the Galaxy     1   Action,Adventure,Sci-Fi
Prometheus                  2  Adventure,Mystery,Sci-Fi
Split                       3           Horror,Thriller
Sing                        4   Animation,Comedy,Family
Suicide Squad               5  Action,Adventure,Fantasy

                                                               Description  \
Title
Guardians of the Galaxy  A group of intergalactic criminals are forced ...
Prometheus               Following clues to the origin of mankind, a te...
Split                    Three girls are kidnapped by a man with a diag...
Sing                     In a city of humanoid animals, a hustling thea...
Suicide Squad            A secret government agency recruits some of th...

                                     Director  \
Title
Guardians of the Galaxy            James Gunn
Prometheus                       Ridley Scott
Split                      M. Night Shyamalan
Sing                     Christophe Lourdelet
Suicide Squad                      David Ayer

                                                                    Actors  \
Title
Guardians of the Galaxy  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Prometheus               Noomi Rapace, Logan Marshall-Green, Michael Fa...
Split                    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...
Sing                     Matthew McConaughey,Reese Witherspoon, Seth Ma...
Suicide Squad            Will Smith, Jared Leto, Margot Robbie, Viola D...

                         Year  Runtime (Minutes)  Rating   Votes  \
Title
Guardians of the Galaxy  2014                121     8.1  757074
Prometheus               2012                124     7.0  485820
Split                    2016                117     7.3  157606
Sing                     2016                108     7.2   60545
Suicide Squad            2016                123     6.2  393727

                         Revenue (Millions)  Metascore
Title
Guardians of the Galaxy              333.13       76.0
Prometheus                           126.46       65.0
Split                                138.12       62.0
Sing                                 270.32       59.0
Suicide Squad                        325.02       40.0

19. Print last 3 records
                        Rank                  Genre  \
Title
Step Up 2: The Streets   998    Drama,Music,Romance
Search Party             999       Adventure,Comedy
Nine Lives              1000  Comedy,Family,Fantasy

                                                              Description  \
Title
Step Up 2: The Streets  Romantic sparks occur between two dance studen...
Search Party            A pair of friends embark on a mission to reuni...
Nine Lives              A stuffy businessman finds himself trapped ins...

                                Director  \
Title
Step Up 2: The Streets        Jon M. Chu
Search Party              Scot Armstrong
Nine Lives              Barry Sonnenfeld

                                                                   Actors  \
Title
Step Up 2: The Streets  Robert Hoffman, Briana Evigan, Cassie Ventura,...
Search Party            Adam Pally, T.J. Miller, Thomas Middleditch,Sh...
Nine Lives              Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...

                        Year  Runtime (Minutes)  Rating  Votes  \
Title
Step Up 2: The Streets  2008                 98     6.2  70699
Search Party            2014                 93     5.6   4881
Nine Lives              2016                 87     5.3  12435

                        Revenue (Millions)  Metascore
Title
Step Up 2: The Streets               58.01       50.0
Search Party                           NaN       22.0
Nine Lives                           19.64       11.0

20. Handling duplicates using append()
(2000, 12)

21. Cleaning duplicates using drop_duplicates
(1000, 12)

22. Cleaning column using rename()
Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

22a. Remove parens using rename()
Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       ' Runtime', 'Rating', 'Votes', ' Revenue_millions', 'Metascore'],
      dtype='object')

23. Working with missing values 1. remove, 2. replace

23. Identify nulls
      Rank  Title  Genre  Description  Director  Actors   Year  \
0    False  False  False        False     False   False  False
1    False  False  False        False     False   False  False
2    False  False  False        False     False   False  False
3    False  False  False        False     False   False  False
4    False  False  False        False     False   False  False
..     ...    ...    ...          ...       ...     ...    ...
995  False  False  False        False     False   False  False
996  False  False  False        False     False   False  False
997  False  False  False        False     False   False  False
998  False  False  False        False     False   False  False
999  False  False  False        False     False   False  False

     Runtime (Minutes)  Rating  Votes  Revenue (Millions)  Metascore
0                False   False  False               False      False
1                False   False  False               False      False
2                False   False  False               False      False
3                False   False  False               False      False
4                False   False  False               False      False
..                 ...     ...    ...                 ...        ...
995              False   False  False                True      False
996              False   False  False               False      False
997              False   False  False               False      False
998              False   False  False                True      False
999              False   False  False               False      False

[1000 rows x 12 columns]

23. Count number of nulls
Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

23. NB remove nulls with small amount of missing data
     Rank                     Title                     Genre  \
0       1   Guardians of the Galaxy   Action,Adventure,Sci-Fi
1       2                Prometheus  Adventure,Mystery,Sci-Fi
2       3                     Split           Horror,Thriller
3       4                      Sing   Animation,Comedy,Family
4       5             Suicide Squad  Action,Adventure,Fantasy
..    ...                       ...                       ...
993   994  Resident Evil: Afterlife   Action,Adventure,Horror
994   995                 Project X                    Comedy
996   997           Hostel: Part II                    Horror
997   998    Step Up 2: The Streets       Drama,Music,Romance
999  1000                Nine Lives     Comedy,Family,Fantasy

                                           Description              Director  \
0    A group of intergalactic criminals are forced ...            James Gunn
1    Following clues to the origin of mankind, a te...          Ridley Scott
2    Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3    In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4    A secret government agency recruits some of th...            David Ayer
..                                                 ...                   ...
993  While still out to destroy the evil Umbrella C...    Paul W.S. Anderson
994  3 high school seniors throw a birthday party t...       Nima Nourizadeh
996  Three American college students studying abroa...              Eli Roth
997  Romantic sparks occur between two dance studen...            Jon M. Chu
999  A stuffy businessman finds himself trapped ins...      Barry Sonnenfeld

                                                Actors  Year  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
1    Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
2    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
3    Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
4    Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
..                                                 ...   ...
993  Milla Jovovich, Ali Larter, Wentworth Miller,K...  2010
994  Thomas Mann, Oliver Cooper, Jonathan Daniel Br...  2012
996  Lauren German, Heather Matarazzo, Bijou Philli...  2007
997  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
999  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
0                  121     8.1  757074              333.13       76.0
1                  124     7.0  485820              126.46       65.0
2                  117     7.3  157606              138.12       62.0
3                  108     7.2   60545              270.32       59.0
4                  123     6.2  393727              325.02       40.0
..                 ...     ...     ...                 ...        ...
993                 97     5.9  140900               60.13       37.0
994                 88     6.7  164088               54.72       48.0
996                 94     5.5   73152               17.54       46.0
997                 98     6.2   70699               58.01       50.0
999                 87     5.3   12435               19.64       11.0

[838 rows x 12 columns]

23B. remove null columns
     Rank                    Title                     Genre  \
0       1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1       2               Prometheus  Adventure,Mystery,Sci-Fi
2       3                    Split           Horror,Thriller
3       4                     Sing   Animation,Comedy,Family
4       5            Suicide Squad  Action,Adventure,Fantasy
..    ...                      ...                       ...
995   996     Secret in Their Eyes       Crime,Drama,Mystery
996   997          Hostel: Part II                    Horror
997   998   Step Up 2: The Streets       Drama,Music,Romance
998   999             Search Party          Adventure,Comedy
999  1000               Nine Lives     Comedy,Family,Fantasy

                                           Description              Director  \
0    A group of intergalactic criminals are forced ...            James Gunn
1    Following clues to the origin of mankind, a te...          Ridley Scott
2    Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3    In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4    A secret government agency recruits some of th...            David Ayer
..                                                 ...                   ...
995  A tight-knit team of rising investigators, alo...             Billy Ray
996  Three American college students studying abroa...              Eli Roth
997  Romantic sparks occur between two dance studen...            Jon M. Chu
998  A pair of friends embark on a mission to reuni...        Scot Armstrong
999  A stuffy businessman finds himself trapped ins...      Barry Sonnenfeld

                                                Actors  Year  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
1    Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
2    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
3    Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
4    Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
..                                                 ...   ...
995  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
996  Lauren German, Heather Matarazzo, Bijou Philli...  2007
997  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
999  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

     Runtime (Minutes)  Rating   Votes
0                  121     8.1  757074
1                  124     7.0  485820
2                  117     7.3  157606
3                  108     7.2   60545
4                  123     6.2  393727
..                 ...     ...     ...
995                111     6.2   27585
996                 94     5.5   73152
997                 98     6.2   70699
998                 93     5.6    4881
999                 87     5.3   12435

[1000 rows x 10 columns]

23C. Imputation replacing missing values with guessed values

24. Basic statistical analysis using describe() summary of continous variables
              Rank         Year  Runtime (Minutes)       Rating         Votes  \
count  1000.000000  1000.000000        1000.000000  1000.000000  1.000000e+03